/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kaushan Script', cursive, sans-serif;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  background-image: url('football.jpg');
  background-size: cover;
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
}

header {
  width: 90%;
  padding: 15px 0;
  margin: 30px auto 0;
  text-align: center;
  border-top: solid 5px #000000;
}

header .headline {
  font-size: 32px;
  text-decoration: underline;
}

nav {
  width: 880px;
  margin: 0 auto;
  border-top: solid 0.7px #000000;
  border-bottom: solid 0.7px #000000;
}

.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 40px;
  font-size: 20px;
}

.pagination {
  text-align: center;
}

/* Slideshow */

#container{
  height: 500px;
  margin-top: 20px;
}

#slideshow {
  background-size: cover;
  border: 10px solid green;
}

.image1 {
  background-image: url(image1.jpg);
}
.image2 {
  background-image: url(image2.jpg);
}
.image3 {
  background-image: url(image3.jpg);
}

/* Main */

main .headline {
  text-align: center;
  text-decoration: underline;
}

main {
  width: 880px;
  margin: 15px auto;
}

.player-box {
  width: 200px;
  height: 250px;
  margin: 10px;
  float: left;
  position: relative;
  text-align: center;
}

.player-information {
  width: 200px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.player-image {
  border-radius: 50%;
  border: 5px solid green;
}

.player-name {
  display: block;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.player-team {
  display: block;
  color: black;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.model {
  text-decoration: underline;
  margin-top: 10px;
}

/* Show.html.erb  */

.right-content {
  padding-top: 50px;
}

.action {
  font-size: 20px;
  margin: 0 10px;
}

/* Edit & New.html.erb  */

.btn {
  margin-top: 20px;
  width: 100px;
}

/* Responsive */

@media (max-width: 768px) {
  
  nav {
    width: 100%;
  }
  
  main {
    width: 100%;
  }
  
  .player-box {
    height: 150px;
    width: 40%;
    margin: 8% 5%;
  }
  
  .player-information {
    position: relative;
    margin: 0 auto;
  }

}